html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', sans-serif;
    font-weight: 100;
}

.container {
    margin: 0 auto;
    max-width: 9300px;
    padding: 0 10px;
}

.header {
    background-image: linear-gradient(white, rgb(180, 180, 180));
    height: 90px;
}

.header .container {
    position: relative;
    top: 40px;
}

.header h1 {
    color: rgb(59, 140, 160);
    line-height: 10px;
    font-size: 24px;
    margin-top: 0;
}

.main {
    background: url("images/wallpaper.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
    text-align: center;
}

.main .container {
    position: relative;
}

.main h2 {
    color: rgb(65, 64, 64);
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 0;
}

.main h3 {
    color: rgb(65, 64, 64);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 0;
}

.main p {
    margin: 0;
    color: rgb(37, 37, 37);
}

#myFile {
    margin-bottom: 30px;
    width: 400px;
    font-size: 15px;
    font-family: 'Verdana', sans-serif;
    color: rgb(65, 64, 64);
    border: none;
    outline: none;
    box-shadow: 2px 5px 2px rgb(102, 102, 102);
    border-radius: 50px;
}

::-webkit-file-upload-button {
    border: none;
    background: rgb(92, 206, 214);
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
    border-radius: 50px;
    height: 60px;
    color: white;
    width: 150px;
    cursor: pointer;
}

::-webkit-file-upload-button:hover {
    background-color: rgb(75, 161, 180);
}

.submit {
    border: none;
    background: rgb(92, 206, 214);
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
    height: 80px;
    color: white;
    width: 180px;
    cursor: pointer;
    box-shadow: 2px 5px 2px rgb(102, 102, 102);
    margin-bottom: 40px;
}

.submit:hover {
    background-color: rgb(75, 161, 180);
}

.footer {
    background-image: linear-gradient(rgb(158, 156, 156), white);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer li {
    color: rgb(65, 64, 64);
}

.footer p {
    margin-top: 0;
    color: rgb(65, 64, 64);
}